<div class="animate__animated animate__fadeIn">
  <div class="alert alert-dark" role="alert">
    <h5>{{ countryName }}</h5>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">
      <strong>{{ countryWeather.name + ':' | titlecase }}</strong>
      {{ countryWeather.main }}
    </h5>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6 class="card-subtitle mb-2 text-muted">
          {{ countryWeather.description }}
          <small>{{ (countryWeather.temperature-273.15) | number:'2.0-1'  }}  Celsius </small>
        </h6>
        <img
          [src]="
            'http://openweathermap.org/img/wn/' +
            countryWeather.icon +
            '@2x.png'
          "
          alt=""
        />
      </div>
      <div class="col-sm-12 col-md-6">
        <p>
          <strong>Feels like:</strong>
          {{ countryWeather.feels_like -273.15  | number:'2.0-1' }}
          <br />
          <strong>Grnd level:</strong>
          {{ countryWeather.grnd_level }}
          <br />
          <strong>Humidity:</strong>
          {{ countryWeather.humidity }}
          <br />
          <strong>Pressure:</strong>
          {{ countryWeather.pressure }}
          <br />
          <strong>Sea level:</strong>
          {{ countryWeather.sea_level }}
          <br />
          <strong>Temp max:</strong>
          {{ countryWeather.temp_max-273.15  | number:'2.0-1'  }} Celsius 
          <br />
          <strong>Temp min:</strong>
          {{ countryWeather.temp_min-273.15  | number:'2.0-1'  }} Celsius 
          <br />
        </p>
      </div>
    </div>
  </div>
</div>
