<h1>Descripcion</h1>
<h6>Pais: {{countryName}}</h6>

<ul class="list-group list-group-flush">
    <li class="list-group-item"><strong>Capital: </strong> {{countryDetail.capital}}</li>
    <li class="list-group-item"><strong>Region: </strong> {{countryDetail.region}}</li>
    <li class="list-group-item"><strong>Languages: </strong> {{countryDetail.languages}}</li>
    <li class="list-group-item"><strong>Population: </strong> {{countryDetail.population}}</li>
    <li class="list-group-item"><strong>flag: </strong> {{countryDetail.flag}}s</li>
  </ul>